/* * {
  box-sizing: border-box;
} */
body {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue',
    Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-weight: 300;
  font-size: 10px;
  margin: 0;
  padding: 0;
  background: #1d1d1d;
  color: #eee;
  border-top: 3px solid #f1c15d;
  /* line-height: 1.5; */
}
main {
  color: #1d1d1d;
}
header,
main,
footer {
  max-width: 1000px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #108db8;
  /* font-weight: bold; */
}
a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
}

nav {
  width: 100%;
  background: #108db8;
}

nav a {
  color: white;
  padding: 1rem;
  display: inline-block;
}

.content {
  padding: 1rem;
}
